In [27]:
import pandas as pd
print(pd.__version__)

0.23.4

In [32]:
df = pd.read_csv('memstats.log', sep=r' Mo;', engine='python',
            header=None,
            names=['datewithtotal', 'php', 'npm', 'node','apache','es','redis','airflow','afweb','afschedul','uptimees']) #[1]
df.head(5)

,datewithtotal,php,npm,node,apache,es,redis,airflow,afweb,afschedul,uptimees
0,Aug 08 10:38:02 TOTAL: 3660.68,PHP: 393.387,NPM: 411.324,NODE: 205.395,APACHE: 81.3867,JAVA: 2464.35,REDIS: 11.5508,AIRFLOW: 0,AF_WEB: 0,AF_SCH: 0,UPTIME_ES:
1,Aug 08 10:39:02 TOTAL: 3242.57,PHP: 394.137,NPM: 40.8438,NODE: 105.125,APACHE: 81.4727,JAVA: 2459.54,REDIS: 11.5508,AIRFLOW: 0,AF_WEB: 0,AF_SCH: 0,UPTIME_ES:
2,Aug 08 10:40:02 TOTAL: 3142.55,PHP: 396.887,NPM: 40.8438,NODE: 105.125,APACHE: 81.5156,JAVA: 2459.79,REDIS: 11.5508,AIRFLOW: 0,AF_WEB: 0,AF_SCH: 0,UPTIME_ES:
3,Aug 08 10:41:02 TOTAL: 3532.28,PHP: 329.508,NPM: 245.039,NODE: 295.652,APACHE: 81.75,JAVA: 2451.49,REDIS: 9.94531,AIRFLOW: 0,AF_WEB: 0,AF_SCH: 0,UPTIME_ES:
4,Aug 08 10:42:02 TOTAL: 3003.9,PHP: 326.238,NPM: 40.8438,NODE: 105.125,APACHE: 82.4609,JAVA: 2388.18,REDIS: 11.918,AIRFLOW: 0,AF_WEB: 0,AF_SCH: 0,UPTIME_ES:

In [29]:
df['date'] = df.datewithtotal.apply(lambda y: pd.to_datetime(
    " ".join(y.split(" ")[0:3]),
    format='%b %d %H:%M:%S'
))

In [34]:
def floatvalOf (x):
    return float(x.split(" ")[-1])

df['npm_val'] = df.npm.apply(floatvalOf)
df['node_val'] = df.node.apply(floatvalOf)

df = df.filter(['date', 'npm_val', 'node_val'])
df.head(6)

    npm_val  node_val
0  411.3240   205.395
1   40.8438   105.125
2   40.8438   105.125
3  245.0390   295.652
4   40.8438   105.125
5   40.8438   105.125

In [36]:
import matplotlib.pyplot as plt
#ts = pd.Series(df, index=pd.date_range('1/1/1900', periods=1000))

#plt.plot(df['date'], df['node_val'])

from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, show, output_file

source = ColumnDataSource(df)

p = figure(x_axis_type="datetime", plot_width=800, plot_height=350)
p.line('date', 'node_val', source=source)
p.line('date', 'npm_val', color="green",source=source)

import os
os.remove("ts.html")
output_file("ts.html")
show(p)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: date [renderer: GlyphRenderer(id='26f84079-340f-46bc-8e4e-43d652f0717f', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: date [renderer: GlyphRenderer(id='eef3cae5-d0c9-42aa-9f4f-27f46839c496', ...)]

In [35]:
plt.plot(df['date'], df['node_val'])

KeyError: 'date'